<h1 class="text-center pt-4">Listing All Articles</h1>


<div class="alpha_pagination">
  <%= will_paginate @articles, container: false %>
</div>

<%= render "article" %>

<div class="alpha_pagination mb-5 pb-5">
  <%= will_paginate @articles, container: false %>
</div>
