<div class="container-fluid p-5">
  <div class="mb-4 bg-light round-3">
    <div class="container-fluid py-5 text-center text-white" id="jumbo-home">
      <h1 class="display-4 fw-bold">Alpha Blog</h1>
      <p class="fs-4">Interesting topics up for discussion</p>
      <hr class="my-4">
      <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
    </div>
  </div>
</div>