@import 'bootstrap/dist/css/bootstrap';

.navbar-brand {
  font-size: 3rem;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#jumbo-home {
  background-image: asset-url('patrick-fore-0gkw_9fy0eQ-unsplash.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

